.griditem1 {
    background: rgb(129, 232, 60);

    text-align: center;

    border: black 5px solid;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .griditem6,
  .griditem4,
  .griditem3,
  .griditem2,
  .griditem5
  {
    background: grey;

    text-align: center;

    border: black 5px solid;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px; 
    gap: 5px;


  }